<div *ngIf="loaderService.isLoading | async" class="progress-bar-wrapper" style="position: fixed;top: 0;width: 100vw;z-index: 200;">
  <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
</div>
<mat-drawer-container style="position: relative;" class="wrapper">
  <mat-drawer mode="over" [opened]="isOpen" style="width:350px;padding-top: 3rem;">
    <p (click)="toggleSidenav()" style="font-weight: 600;font-size: 1.5rem;position: absolute;top: 2rem;right:2rem;cursor: pointer;"><i class="bi bi-x-lg"></i></p>
      <h2 class="m-3" routerLink="/" style="cursor: pointer;">eazzyrent</h2>
      <mat-nav-list>
        <mat-list-item routerLink="landlords"><i class="bi bi-people-fill mx-1"></i>Landlords</mat-list-item>
        <mat-list-item><i class="bi bi-houses-fill mx-1"></i>Properties</mat-list-item>
        <mat-list-item><i class="bi bi-person-vcard mx-1"></i>Residents</mat-list-item>
        <mat-list-item><i class="bi bi-person-lines-fill mx-1"></i>Accounts</mat-list-item>
        <mat-list-item routerLink="system"><i class="bi bi-gear-fill mx-1"></i>System</mat-list-item>
      </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="p-4">
    <p  style="cursor: pointer;font-weight: 600;font-size: 2rem;margin-left: 10px;" (click)="toggleSidenav()"><i class="bi bi-list"></i></p>
    <div class="container">      
        <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
  
</mat-drawer-container>
<div *ngIf="errorMessage" id="alert" class="shadow p-3 d-flex error">
  <div>
    <i style="color: rgb(248, 61, 61);font-size: larger;" class="bi bi-exclamation-triangle"></i>
  </div>
  <div class="mx-1">
    <small>{{errorMessage}} Error try again</small>
  </div>
</div>

<div *ngIf="successMessage"  id="alert" class="shadow p-3 d-flex success">
  <div>
    <i style="color: rgb(94, 155, 3);font-size: larger;" class="bi bi-check2-circle"></i>
  </div>
  <div class="mx-1">
    <small>{{errorMessage}} Operation Successful</small>
  </div>
</div>

