<div class="row">
    <div class="col-md-10" style="overflow: hidden;">
        <mat-tab-group class="mx-auto" mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Landlords">
                <div class="row">
                    <div class="col">
                        <ol>
                            <p style="background-color: #03A9F4;padding: 1rem;">Actions</p>
                            <li (click)="openDialog()">Create a landlord</li>
                            <li (click)="openCreateEstDialog()">Create an Estate</li>
                            <li (click)="openUnpaidVouchersDialog()">Unpaid Vouchers</li>
                            <li (click)="openSendBulkSMSDialog()">Send Bulk SMS</li>
                            <li (click)="importLandlords()">Import Landlords</li>
                        </ol>
                    </div>

                    <div class="col">
                        <ol>
                            <p style="background-color: #536DFE;padding: 1rem;">Reports</p>
                            <li (click)="landslordsList()">List of Landlords</li>
                            <li (click)="generatedInvoices()">Invoices Generated</li>
                            <li (click)="standingOrdersDialog()">Standing Orders</li>
                            <li (click)="unpaidInvoicesDialog()">Unpaid Invoices</li>
                            <li (click)="loanDisbursementsDiaolog()">Loan Disbursement</li>
                            <li (click)="loanTransacsDiaotionslog()">Loan Transactions</li> 
                            <li (click)="loanStatusDialog()">Loan Status</li>
                            <li (click)="outstandingLoansDialog()">Oustanding Loans</li> 
                            <li (click)="unpaidInvoicesDialog()">Unpaid Vouchers</li>
                            <li (click)="remittanceDisbursementDialog()">Remittance Disbursement</li> 
                            <li (click)="remittanceAnalysisDialog()">Remittance Analysis</li>
                            <li (click)="remittanceBadDebtsDialog()">Remittance Bad Debts</li> 
                            <li (click)="collectionsRemittanceDialog()">Collections & Remittances Analysis</li>
                        </ol>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Properties">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-tab>
            <mat-tab label="Residents">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum placeat minima qui!</p>
            </mat-tab>
            <mat-tab label="Accounts">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, architecto.</p>
            </mat-tab>
            <mat-tab label="System">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
