.row {
    .mat-mdc-tab-body-content {
        overflow-x: hidden !important;
    }


    mat-tab-group {
        overflow: hidden;


        padding-top: 2rem;
        
        ul, ol {
            margin-top: 5rem;       
            
            li {
                cursor: pointer;
                margin: .5rem 0;
            }
        }
    }
}