
<div class="row">
    <label>Collections and Remittances</label>
    <small>Show positions of properties as</small>
    <div class="row my-3">
        <div class="form-group d-flex align-items-center">
            <div class="col">
                <label for="">start date</label>
                <input type="date">
            </div>
            <div class="col">
                <label for="">end date</label>
                <input type="date">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <p>Choose Ouput Format</p>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioGroup" id="pdf" value="pdf">
            <label class="form-check-label" for="radioOption1"><i class="bi bi-filetype-pdf"></i>pdf</label>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioGroup" id="xlsx" value="xlsx">
            <label class="form-check-label" for="radioOption2"><i class="bi bi-filetype-xlsx"></i>xlsx</label>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioGroup" id="docx" value="docx">
            <label class="form-check-label" for="radioOption3"><i class="bi bi-filetype-docx"></i>docx</label>
        </div>
    </div>
    <button class="my-2" mat-flat-button color="primary">Load Report</button>
</div>


