/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');


html, body { height: 100%; }
body {
    margin: 0; 
    font-family: 'Montserrat', sans-serif!important; 
    background-color: #f0f1f7!important;



    .mat-dialog-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mat-mdc-dialog-surface {
        padding: 2rem;
    }

    .next {
        background-color: #3f51b5;
        color: aliceblue;
    }

    .prev {
        background-color: #ef476f;
        color: black;
        margin-right: 1rem;
    }

}
