/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;600;800&display=swap');

html, body { height: 100%; }
body {
    margin: 0; 
    // font-family: 'Montserrat', sans-serif!important; 
    font-family: 'Jost', sans-serif;
    background-color: rgb(248, 249, 251)!important;
    color: rgb(10, 10, 10);


    .dark {
        color: #0A0A0A;
    }

    .mat-dialog-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mat-mdc-dialog-surface {
        padding: 2rem;
    }

    .next {
        background-color: #0d6efd;
        color: aliceblue!important;
        border-radius: 0;
    }

    .prev {
        background-color: #5e9eff;
        color: black;
        margin-right: 1rem;
        border-radius: 0;
    }


    #alert {
        position: absolute;
        top: 2rem;
        width: 300px;
        height: 80px;
        left: 2rem;
        z-index: 30000000;
        background-color: #ffffff;
        animation: easeAlert;

        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
    }
    
    
    .success {
        border-left: 15px solid rgb(94, 155, 3);
    }

    .error {
        border-left: 15px solid rgb(253, 75, 75);
    }


    @keyframes easeAlert {
        0% {
            left: -10rem;
        }

        60% {
            left: 5rem;
        }

        100% {
            left: 2rem;
        }
    }

}
