<div class="row">
    <div class="row"> 
        <p style="font-weight: 600;font-size: 18px;">{{currentTime| date: 'medium'}}</p>
    </div>
    <div class="wrapper">
        <div class="tile shadow-sm">
            <div class="icon px-3">
                <div class="icon-wrapper" style="background-color: #b5e48c;">
                    <i style="font-size: 1.3rem;" class="bi bi-wallet-fill"></i>
                </div>
            </div>
            <div class="info px-2">
                <p class="mb-0" style="font-weight: 400;">1,191,588.70</p>
                <small>Oustanding Balances</small>
            </div>
        </div>

        <div class="tile shadow-sm">
            <div class="icon px-3">
                <div class="icon-wrapper" style="background-color: #ffbf69;">
                    <i style="font-size: 1.3rem;" class="bi bi-coin"></i>
                </div>
            </div>
            <div class="info px-2">
                <p class="mb-0" style="font-weight: 400;">1,191,588.70</p>
                <small>Net Income</small>
            </div>
        </div>

        <div class="tile shadow-sm">
            <div class="icon px-3">
                <div class="icon-wrapper" style="background-color: #cae9ff;">
                    <i style="font-size: 1.3rem;" class="bi bi-percent"></i>
                </div>
            </div>
            <div class="info px-2">
                <p class="mb-0" style="font-weight: 400;">1,191,588.70</p>
                <small>Occupancy Rate</small>
            </div>
        </div>

        <div class="tile shadow-sm">
            <div class="icon px-3">
                <div class="icon-wrapper" style="background-color: #81b29a;">
                    <i style="font-size: 1.3rem;" class="bi bi-building-fill-dash"></i>
                </div>
            </div>
            <div class="info px-2">
                <p class="mb-0" style="font-weight: 400;">1,191,588.70</p>
                <small>Vacant Units</small>
            </div>
        </div>
    </div>
    <div class="row gap-5 justify-between">
        <div class="col-md-5">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur non maiores harum soluta aspernatur quo excepturi accusamus blanditiis quis! Quae eaque hic repellendus enim similique voluptates explicabo ullam iste placeat sequi vero laboriosam, delectus officiis? Impedit molestias aspernatur qui, deleniti quam eius tempora voluptate, laborum, dolorem sequi quae placeat amet.</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum necessitatibus asperiores doloremque in molestiae culpa.</p>
        </div>
    </div>
</div>
