<div class="row">
    <div class="row"> 
        <p style="font-weight: 600;font-size: 18px;">{{currentTime| date: 'medium'}}</p>
    </div>
    <div class="wrapper">
        <div class="tile shadow-sm">
            <div class="icon px-3">
                <div class="icon-wrapper" style="background-color: #b5e48c;">
                    <i style="font-size: 1.3rem;" class="bi bi-wallet-fill"></i>
                </div>
            </div>
            <div class="info px-2">
                <p class="mb-0" style="font-weight: 400;">1,191,588.70</p>
                <small>Oustanding Balances</small>
            </div>
        </div>

        <div class="tile shadow-sm">
            <div class="icon px-3">
                <div class="icon-wrapper" style="background-color: #ffbf69;">
                    <i style="font-size: 1.3rem;" class="bi bi-coin"></i>
                </div>
            </div>
            <div class="info px-2">
                <p class="mb-0" style="font-weight: 400;">1,191,588.70</p>
                <small>Net Income</small>
            </div>
        </div>

        <div class="tile shadow-sm">
            <div class="icon px-3">
                <div class="icon-wrapper" style="background-color: #cae9ff;">
                    <i style="font-size: 1.3rem;" class="bi bi-percent"></i>
                </div>
            </div>
            <div class="info px-2">
                <p class="mb-0" style="font-weight: 400;">1,191,588.70</p>
                <small>Occupancy Rate</small>
            </div>
        </div>

        <div class="tile shadow-sm">
            <div class="icon px-3">
                <div class="icon-wrapper" style="background-color: #81b29a;">
                    <i style="font-size: 1.3rem;" class="bi bi-building-fill-dash"></i>
                </div>
            </div>
            <div class="info px-2">
                <p class="mb-0" style="font-weight: 400;">1,191,588.70</p>
                <small>Vacant Units</small>
            </div>
        </div>
    </div>
    <div class="row gap-5 justify-between">
        <div class="col-lg-6 shadow">
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [dataLabels]="chartOptions.dataLabels"
                  [plotOptions]="chartOptions.plotOptions"
                  [yaxis]="chartOptions.yaxis"
                  [xaxis]="chartOptions.xaxis"
                ></apx-chart>
              </div>
        </div>
        <div class="col-lg-5">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum necessitatibus asperiores doloremque in molestiae culpa.</p>
        </div>
    </div>

    <div class="row gap-5" style="justify-content: space-between;">
        <div class="col-lg-5">
         
        </div>
        <div class="col-lg-6 shadow">
            <div id="lineChart">
                <apx-chart
                  [series]="lineChartOptions.series"
                  [chart]="lineChartOptions.chart"
                  [xaxis]="lineChartOptions.xaxis"
                  [dataLabels]="lineChartOptions.dataLabels"
                  [grid]="lineChartOptions.grid"
                  [stroke]="lineChartOptions.stroke"
                  [title]="lineChartOptions.title"
                ></apx-chart>
              </div>
        </div>
    </div>
</div>
